<% content_for :title, "Dashboard" %>
<% content_for :page_title, "Dashboard" %>

<div class="boxed">
  <h1>Welcome back, <span class="font-semibold"><%= current_user.username %></span>!</h1>
</div>

<div class="boxed">
  <div class="flex justify-between items-center">
    <div class="">
      <h1 class="text-lg font-semibold mb-1">Daycare Slots</h1>
      <p class="text-muted-foreground">
        This is where you can view all the daycare slots available for your Pokemon.
      </p>
    </div>
    <%= render_button "Add Pokemon to Daycare" %>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <div class="p-4 bg-card border rounded-md flex flex-col justify-evenly gap-2 min-h-80 drop-shadow">
      <p class="font-semibold text-lg">Slot 1</p>
      <p class="font-semibold">Pokemon Name</p>
      <%= image_tag "blank_pokemon.jpg", alt: "Avatar Image", class: "max-h-40 w-full text-center object-cover rounded-md drop-shadow-sm border" %>
      <%= render_button text: "Withdraw Pokemon", variant: :secondary %>
    </div>
    <div class="p-4 bg-card border rounded-md flex flex-col justify-evenly gap-2 min-h-80 drop-shadow">
      <p class="font-semibold text-lg">Slot 2</p>
      <p class="font-semibold">Pokemon Name</p>
      <%= image_tag "blank_pokemon.jpg", alt: "Avatar Image", class: "max-h-40 w-full text-center object-cover rounded-md drop-shadow-sm border" %>
      <%= render_button text: "Withdraw Pokemon", variant: :secondary %>
    </div>
    <div class="p-4 bg-card border rounded-md flex flex-col justify-evenly gap-2 min-h-80 drop-shadow">
      <p class="font-semibold text-lg">Slot 3</p>
      <p class="text-muted-foreground my-auto text-center">No Pokemon in this slot.</p>
    </div>
    <div class="p-4 bg-card border rounded-md flex flex-col justify-evenly gap-2 min-h-80 drop-shadow">
      <p class="font-semibold text-lg">Slot 4</p>
      <p class="text-muted-foreground my-auto text-center">No Pokemon in this slot.</p>
    </div>
    <div class="p-4 bg-card border rounded-md flex flex-col justify-evenly gap-2 min-h-80 drop-shadow">
      <p class="font-semibold text-lg">Slot 5</p>
      <p class="text-muted-foreground my-auto text-center">No Pokemon in this slot.</p>
    </div>
  </div>
</div>

<div class="boxed">
  <div class="flex justify-between items-center">
    <div class="">
      <h1 class="text-lg font-semibold mb-1">Pokemons</h1>
      <p class="text-muted-foreground">
        This is where you can view all the Pokemons you currently have.
      </p>
    </div>
    <%= render_button "Register your Pokemon" %>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <div class="p-4 bg-card border rounded-md flex flex-col justify-evenly gap-2 min-h-80 drop-shadow">
      <%= image_tag "blank_pokemon.jpg", alt: "Avatar Image", class: "max-h-40 w-full text-center object-cover rounded-md drop-shadow-sm border" %>
      <div>
        <p class="font-semibold text-lg mb-1">Pokemon Name</p>
        <p class="text-sm">Normal Type</p>
      </div>
      <p class="text-sm text-muted-foreground">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dui ac nunc ultricies.
      </p>
      <div class="flex gap-2">
        <%= render_button text: "Edit Pokemon", variant: :secondary, class: "w-full" %>
        <%= render_button text: "Release Pokemon", variant: :destructive, class: "w-full" %>
      </div>
    </div>
    <div class="p-4 bg-card border rounded-md flex flex-col justify-evenly gap-2 min-h-80 drop-shadow">
      <%= image_tag "blank_pokemon.jpg", alt: "Avatar Image", class: "max-h-40 w-full text-center object-cover rounded-md drop-shadow-sm border" %>
      <div>
        <p class="font-semibold text-lg mb-1">Pokemon Name</p>
        <p class="text-sm">Normal Type</p>
      </div>
      <p class="text-sm text-muted-foreground">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dui ac nunc ultricies.
      </p>
      <div class="flex gap-2">
        <%= render_button text: "Edit Pokemon", variant: :secondary, class: "w-full" %>
        <%= render_button text: "Release Pokemon", variant: :destructive, class: "w-full" %>
      </div>
    </div>
  </div>
</div>
