<% content_for :title, "Edit Account Credentials" %>
<% content_for :page_title, "Edit Account Credentials" %>

<%= render_form_for(@user, url: profile_path, method: :patch, local: true) do |form| %>
  <div class="boxed">
    <div>
      <h1 class="text-lg font-semibold mb-1">Account Crendentials</h1>
      <p class="text-muted-foreground">
        This is your chance to update your account credentials.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="flex flex-col gap-2 mb-4">
        <%= form.label :email, class: "required" %>
        <%= form.text_field :email, class: "" %>
      </div>
            <div>
      </div>
      <div class="flex flex-col gap-2">
        <%= form.label :password, class: "required" %>
        <%= form.password_field :password, class: "mb-8" %>
      </div>
      <div class="flex flex-col gap-2">
        <%= form.label :password_confirmation, class: "required" %>
        <%= form.password_field :password_confirmation, class: "mb-8" %>
      </div>
    </div>
    <div class="flex gap-4">
      <%= render_button "Back", as: :link, href: "/profile", variant: "secondary" %>
      <%= form.submit "Save account credentials" %>
    </div>
  </div>
<% end %>